*MESSAGES*/ .message {
    color: #ffffff;
    font-size: var(--font-normal);
    font-weight: var(--weight-strong);
    display: block;
    width: 100%;
    padding: 20px;
    border: 2px solid #cccccc;
    margin-bottom: var(--area-box);
    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
}

.message.success {
    --color: var(--color-green);
    color: var(--color);
    border-color: var(--color);
}

.message.info {
    --color: var(--color-blue);
    color: var(--color);
    border-color: var(--color);
}

.message.warning {
    --color: var(--color-yellow);
    color: var(--color);
    border-color: var(--color);
}

/*NOTIFICATION CENTER*/



/****/

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #cccccc;
    border-right: 0;
    color: #555555;
    font-weight: 700;
    text-decoration: none;
    transition-duration: 0.2s;
    font-family: "Poppins", sans-serif;
}

.paginator a:first-of-type {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.paginator a:last-of-type {
    border-right: 1px solid #cccccc;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.paginator a:hover {
    background-image: linear-gradient(to right, #4fdaec 0%, #557375 50%, #7279a0 100%);
    ;
    background-size: 200%;
    color: #FBFBFB;
}

.paginator span {
    background: #aaa6a6;
}

.fort {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.h-20{
    height: 20%;
}
.r{
    margin-right: 20px;
    margin-left: 15px;
}
.himagem{
    height:400px;
}
.pot{
    margin-top: 75%;
}
.bord-l{
    border-left:1px solid #cccccc;
    width:50%;
}

.posicao{
    display: flex;
}
.w-5{
    width:40%;
}
.imagemw{
    height: 210px; 
    width: 190px;
}
@media (min-width: 992px){
 .container1 {
    max-width: 1260px;
}
.h-20{
    height: 20%;
}
}
@media (max-width: 991px){
    .posicao{
       display: block !important;
    }
    .w-5{
        width:auto;
        padding-top:10px;
        padding-bottom:10px;    
    }
    .imagemw{
        height: 129px; 
        width: 129px;
    }
}
@media (min-width: 768px){
 .container1 {
    max-width: 720px;
}
.h-20{
    height: 20%;
}
}

@media (min-width: 576px){
.container1 {
    max-width: 740px;
}
.h-20{
    height: 20%;
}
}
.container1{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.flx{
    display: flex;
    flex-direction: row;
}
@media (max-width: 767px){
    .flx{
        display: flex;
        flex-direction: column;
       
    }
    .c{
        margin-bottom: 50px;
       
    }
    .r{
        margin-right:0px;
        margin-left: 0px;
        text-align: center;
        margin-top:5%;
    }
    .pot{
        margin-top: 0px;
    }
    .bord-l{
        border-left: 0px;
        border-top: 1px solid #cccccc;
        width:auto;
        
    }
    
}
@media (max-width: 1024px)
{
    .h{
        min-height: 100vh;
    }
}

.fst:first-child
{
    margin-top:120px;
}
